# macOS
.DS_Store
.AppleDouble
.LSOverride

# Files that might be created by OS/Browsers
Icon\r
.DocumentRevisions-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# IDEs and Editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
*~

# Logs
*.log
logs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
